<div
  class="min-h-screen bg-linear-to-br from-gray-800 to-gray-950 flex items-center justify-center p-6"
>
  @if (loading()) {
    <div class="text-gray-300 text-lg">Loading profile...</div>
  } @else {
    <div class="bg-white rounded-3xl shadow-2xl p-8 w-full max-w-md space-y-6">
      <h2 class="text-2xl font-bold text-center text-gray-800">Edit Profile</h2>

      <form [formGroup]="editForm" (ngSubmit)="updateProfile()" class="space-y-4">
        <input
          type="text"
          formControlName="name"
          placeholder="Name"
          class="w-full border rounded-lg p-3"
        />

        <input
          type="number"
          formControlName="age"
          placeholder="Age"
          class="w-full border rounded-lg p-3"
        />

        <input
          type="email"
          formControlName="email"
          placeholder="Email"
          class="w-full border rounded-lg p-3"
        />

        <input
          type="password"
          formControlName="password"
          placeholder="Password"
          class="w-full border rounded-lg p-3"
        />

        <button
          type="submit"
          class="w-full bg-green-600 text-white py-3 rounded-xl hover:bg-green-700 transition"
        >
          Update Profile
        </button>
      </form>

      <div class="flex justify-center">
        <button
          (click)="goBack()"
          class="px-6 py-2 rounded-xl bg-indigo-600 text-white hover:bg-indigo-700 transition"
        >
          Back
        </button>
      </div>
    </div>
  }
</div>
