<div class="register-container">
  <div class="register-card">
    <h2 class="register-title">Add New User!</h2>

    <form class="register-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <!-- First Name -->
      <div>
        <label class="register-label">First Name</label>
        <input class="register-input" type="text" placeholder="John" formControlName="firstName" />

        @if (firstName?.touched && firstName?.invalid) {
          @if (firstName?.errors?.['required']) {
            <span class="errFullNameMsg">Please enter first name</span>
          }
          @if (firstName?.errors?.['pattern']) {
            <span class="errFullNameMsg">
              Must start with a letter and contain only letters/spaces
            </span>
          }
        }
      </div>

      <!-- Last Name -->
      <div>
        <label class="register-label">Last Name</label>
        <input class="register-input" type="text" placeholder="Doe" formControlName="lastName" />

        @if (lastName?.touched && lastName?.invalid) {
          @if (lastName?.errors?.['required']) {
            <span class="errFullNameMsg">Please enter last name</span>
          }
          @if (lastName?.errors?.['pattern']) {
            <span class="errFullNameMsg">
              Must start with a letter and contain only letters/spaces
            </span>
          }
        }
      </div>

      <!-- Email -->
      <div>
        <label class="register-label">Email</label>
        <input
          class="register-input"
          type="email"
          placeholder="you@example.com"
          formControlName="email"
        />

        @if (email?.touched && email?.invalid) {
          @if (email?.errors?.['required']) {
            <span class="errEmailMsg">Please enter email</span>
          }
          @if (email?.errors?.['email']) {
            <span class="errEmailMsg">Please enter valid email</span>
          }
        }
      </div>

      <!-- Role -->
      <div>
        <label class="register-label">Role</label>

        <select class="register-input" formControlName="role">
          <option class="register-input-role" value="">Select Role</option>
          <option class="register-input-role" value="user">User</option>
          <option class="register-input-role" value="admin">Admin</option>
        </select>

        @if (role?.touched && role?.invalid) {
          @if (role?.errors?.['required']) {
            <span class="errRoleMsg">Please select a role</span>
          }
        }
      </div>

      <!-- Password -->
      <div>
        <label class="register-label">Password</label>
        <input
          class="register-input"
          [type]="passwordType()"
          placeholder="8-15 chars, 1 capital, 1 symbol"
          formControlName="password"
        />

        @if (password?.touched && password?.invalid) {
          @if (password?.errors?.['required']) {
            <span class="errPasswordMsg">Please enter password</span>
          }
          @if (password?.errors?.['minlength']) {
            <span class="errPasswordMsg">Password too short</span>
          }
          @if (password?.errors?.['maxlength']) {
            <span class="errPasswordMsg">Password too long</span>
          }
          @if (password?.errors?.['pattern']) {
            <span class="errPasswordMsg"> Must contain 1 uppercase, 1 lowercase and 1 symbol </span>
          }
        }
      </div>

      <!-- Confirm Password -->
      <div>
        <label class="register-label">Confirm Password</label>
        <input
          class="register-input"
          [type]="passwordType()"
          placeholder="Re-enter password"
          formControlName="confirmPassword"
        />

        @if (confirmPassword?.touched && confirmPassword?.invalid) {
          @if (confirmPassword?.errors?.['required']) {
            <span class="errConfirmPasswordMsg"> Please confirm password </span>
          }
        }

        @if (registerForm.errors?.['passwordMismatch'] && confirmPassword?.touched) {
          <span class="errConfirmPasswordMsg"> Passwords do not match </span>
        }
      </div>

      <!-- Show Password -->
      <div class="register-label-checkbox-div">
        <label class="register-label-checkbox">
          <input class="register-input-checkbox" type="checkbox" (click)="togglePassword()" />
          Show Password
        </label>
      </div>

      <!-- Submit -->
      <div class="register-btn-div">
        <button class="register-btn" type="submit">Register</button>
      </div>

      <div>
        <p class="extra">
          Already have an account?
          <a class="login-link" routerLink="/login">Sign-In</a>
        </p>
      </div>
    </form>
  </div>
</div>
